state:
  world: {{ .State.World }}
  day: {{ .State.Day }}
  in-flight: {{ .State.InFlight }}
{{- if .State.Daytime }}
  daytime: {{ .State.Daytime }}
{{- end }}
{{- if .State.Location }}
  location: {{ .State.Location }}
{{- end }}
{{- if .State.Moment }}
  moment: {{ .State.Moment }}
{{- end }}
{{- if .State.NPCs }}
  npcs:
{{- range .State.NPCs }}
    - {{ . }}
{{- end }}
{{- end }}
{{- if .State.Current }}
  current: |-
    {{ .State.Current }}
{{- end }}
  events:
{{- if .State.Events }}
{{- range .State.Events }}
    - "{{ . }}"
{{- end }}
{{- else }}
    []
{{- end }}
